@import 'reset';
@import 'themes';

body {
  margin: 0;
}

.center {
  margin: 10px auto;
}

.width10 {
  width: 10%;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.width95 {
  width: 95%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.quebrar-linha {
  white-space: pre-line;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}
