<div [formGroup]="formGroup">
    <mat-form-field class="width50">
      <input  matInput
              readonly
              [matDatepicker]="picker"
              [placeholder]="titulo"
              [name]="controlName"
              [formControlName]="controlName"
              (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo de Data é obrigatório</mat-error>
    </mat-form-field>
  </div>